/* .zebra{
    border: 5px dashed black;
}
.grande{
    font-size: 30px;
}

.margen-superior{
    margin-top: 45px;
    display: block;
}

.resaltado{
    border-bottom: 2px green solid ;
}

#caja{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background:green;
}

#caja:hover{
    background: red;
    cursor: pointer;
} 

input{
    padding: 20px;
    width: 300px;
    font-size: 20px;
}

#datos{
    border: 4px dasehd black;
    padding: 10px;
    width: 250px;
    height: 50px;
    margin-top:10px;
    display: none;
} */

#caja{
    width: 300px;
    height: 250px;
    border: 5px dashed black;
    /* background: #ccc; */
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px ;
}

#datos{
    width: 300px;
    height: 250px;
    border: 5px dashed black;
    /* background: #ccc; */
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px ;
    overflow:scroll;
}

.elemento{
    width: 300px;
    height: 200px;
    background:rgb(132, 156, 184);
    margin: 20px;
    float: left;
}

.game li{
    width: 80%;
    padding: 20px;
    border:1px solid black;
    list-style: none;
    cursor: pointer;
}

ul .ui-selecting{
    background: green;
}


ul .ui-selected{
    background: blue;
}

#elemento-movido{
    width: 100px;
    height: 100px;
    background:rgb(0, 60, 128);
    margin: 20px;
    float: left;
}

#area{
    width: 300px;
    height: 300px;
    background:rgb(144, 156, 75);
    margin: 20px;
    float: left;
}

.elemento{
    width: 300px;
    height: 200px;
    background:rgb(255, 0, 0);
    margin: 20px;
    float: none;
}
